@import 'mixins';

.main_head {
	font-size: 45px;
	line-height: 55px;
	color: #00446C;
}

.blue_head {
	color: $image_blue;
	font-size: 35px;
}

.top_border {
	@include top_border;
}

.bottom_border {
	@include bottom_border;
}

.h_border {
	@include top_border;
	@include bottom_border;
}

.text {
	font-size: 18px;
	line-height: 25px;
}

.text_medium {
	font-size: 16px;
	line-height: 23px;
}

.steps {	
	width:680px;
	margin:auto;
	h3 {
		width: 480px;
	}
}

.maroon {
	color: #9e0b0f;
}


.tick_list {
	@include ml(70px);
	list-style-image: url('list_icon3.png');
}