@import 'mixins';

.container_padding {
	@include pb(30px);
}

.main_head {
	font-size: 45px;
	line-height: 55px;
	color: #00446C;
}

.blue_head {
	color: $image_blue;
	font-size: 35px;
}

.top_border {
	@include top_border;
}

.bottom_border {
	@include bottom_border;
}

.h_border {
	@include top_border;
	@include bottom_border;
}

.text {
	font-size: 18px;
	line-height: 25px;
}

.text_medium {
	font-size: 16px;
	line-height: 23px;
}

.text_small {
	font-size: 15px;
	line-height: 20px;
}
.steps {	
	width:880px;
	margin:auto;
	.step_description {
		width: 680px;
		h3, p {
			@include ml(0px);
		}
	}
}

.maroon {
	color: #9e0b0f;
}


ul.tick_list {
	@include ml(70px);
	list-style-image: url('list_icon3.png');
}

.right_shadow {
	@include custom_shadow(1px 1px 3px #333);
}

ul.blue_list {
	color: $image_blue;
	font-size: 15px;
	li {
		@include mt(10px);
		span {
			color: #777;
		}
	}
}


.overlay {
	width: 100px;
	@include relative;
	.value {
		@include absolute;
		left: 5px;
		top: 0px;
		width: 100%;
	}
}